[Desktop Entry]
Version=1.0
Name=Basecamp
Exec=omarchy-launch-or-focus-webapp "chrome-launchpad.37signals.com.*" "https://launchpad.37signals.com --profile-directory=Work"
Terminal=false
Type=Application
Icon=basecamp
StartupNotify=true
